# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\ycxel\Desktop\NEU Spring 2021\5004\5004 Assign\AssignmentGroup\a8v1\a8v4\DataStructures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
